<div class="row">
    <div class="col-xs-12">
        <p>
            This is a simple <a href="http://nodejs.org">Node.js</a> web application demonstrating the following features:
        </p>
        <ul>
            <li>
                Database access (using <a href="http://mongodb.org">MongoDB</a> and
                <a href="http://mongoosejs.com/">Mongoose</a>)
            </li>
            <li>
                Cross-Site-Scripting (<abbr title="Cross-Site-Scripting">XSS</abbr>) and
                Cross-Site-Request-Forgery (<abbr title="Cross-Site-Request-Forgery">CSRF</abbr>) protection
            </li>
            <li>
                Secure web connections via <abbr title="Transport Layer Security">TLS</abbr>/<abbr title="Secure Sockets Layer">SSL</abbr>
            </li>
            <li>Session management and secure cookies</li>
            <li>Secure registration and login (using <a href="http://en.wikipedia.org/wiki/Bcrypt">bcrypt</a> for password hashing)</li>
            <li>Error handling and logging (including an Apache-style access log for HTTP requests)</li>
            <li>Mobile first responsive design with <a href="http://www.getbootstrap.com">Bootstrap</a>
            <li>HTML templating with <a href="http://www.handlebarsjs.com">Handlebars</a></li>
            <li><a href="http://jquery.com">jQuery</a> for client side form validation</li>
        </ul>
    </div>
</div>